[submodule "libyaffs2"]
	path = libyaffs2
	url = git://git.rtems.org/sebh/rtems-yaffs2.git
[submodule "rtems-source-builder"]
	path = rtems-source-builder
	url = git://git.rtems.org/rtems-source-builder.git
[submodule "libbed"]
	path = libbed
	url = zbfxigop@ftp.rtems.eu:libbed.git
[submodule "libbsd"]
	path = libbsd
	url = git://git.rtems.org/rtems-libbsd.git
[submodule "rtems"]
	path = rtems
	url = git://git.rtems.org/rtems.git
