[submodule "libyaffs2"]
	path = libyaffs2
	url = git://git.rtems.org/sebh/rtems-yaffs2.git
[submodule "rtems-source-builder"]
	path = rtems-source-builder
	url = git@github.com:stritzinger/rtems-source-builder.git
[submodule "libbed"]
	path = libbed
	url = git@github.com:stritzinger/libbed.git
[submodule "libbsd"]
	path = libbsd
	url = https://github.com/grisp/rtems-libbsd
[submodule "rtems"]
	path = rtems
	url = https://github.com/grisp/rtems
[submodule "libinih/inih"]
	path = libinih/inih
	url = https://github.com/grisp/inih
